!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}/
		%title PEAR Trainer API
		%link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
		:css
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
				%link{:href => "../assets/css/bootstrap-responsive.css", :rel => "stylesheet"}/

		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					%span.brand= link_to("/", "PEAR TrainerAPI")
